/* Contact Section Styling */
#contact {
  color: #fff;
  background: #0A2940;
  text-align: center;
  padding: 50px 0;
}
#contact h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
#contact p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 50px;
}
#contact .wrapper form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}
#contact .wrapper form input,
#contact .wrapper form button {
  padding: 8px;
  border: #ddd 1px solid;
  outline: none;
  border-radius: 5px;
  margin: 15px 0;
  color: #333;
}
#contact .wrapper form button {
  background: #0A2940;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#contact .wrapper form button:hover {
  background: #1A1B1E;
  color: #fff;
}
