.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 250px;
    position: relative;  /* Ensure z-index works properly within the container */
}

.item {
    position: relative;
    padding: 40px;
    text-align: right;
    border: transparent; 
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* Base z-index for all items */
}

/* Incremental z-index for the stair-case effect */
.grid-container .hover-container:nth-child(2) .item {
    z-index: 2;
}

.grid-container .hover-container:nth-child(3) .item {
    z-index: 3;
}

.grid-container .hover-container:nth-child(4) .item {
    z-index: 4;
}

.grid-container .hover-container:nth-child(5) .item {
    z-index: 5;
}

.grid-container .hover-container:nth-child(6) .item {
    z-index: 6;
}

.grid-container .hover-container:nth-child(7) .item {
    z-index: 7;
}

.grid-container .hover-container:nth-child(8) .item {
    z-index: 8;
}

.grid-container .hover-container:nth-child(9) .item {
    z-index: 9;
}

.text-content {
    margin: 0;
    padding: 20px 0px;
}

.text-content h3 {
    margin-top: 0;
    padding-top: 0;
}

.item-title, .item-description {
    font-size: 12px;
}

.grid-container .hoverable:hover {
    background-color: lightgreen;
}

.grid-container .hoverable .text-content p {
    display: none;
}

.grid-container .hoverable:hover .text-content p {
    display: block;
}

.check {
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: blue;
    display: none;
    font-weight: bold;
}

.hoverable:hover .check {
    display: block;
}

#accept-cookies {
    background-color: white;
    color: darkorange;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cookie-popup {
    position: absolute;
    z-index: 100000;
    right: 0;
    top: 10px; /* Corrected from 'top: 10;' to 'top: 10px;' */
    background-color: darkorange;
    color: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
}

@media only screen and (max-width: 1280px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        grid-auto-rows: 200px;
    }
    .item-title, .item-description {
        font-size: 10px;
    }
    .text-content h3 {
        font-size: 14px;
    }
}


.light-grey-bg {
    background-color: #f5f5f5; /* extremely light grey */
}

