.bg-light {
    background-color: #f0f0f0;
    margin-top: -20px;  /* Adjust the positioning to move the component higher */
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: center;  /* Center align the boxes */
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2px;  /* Separation between columns */
}

.box {
    width: 300px;  /* Set a fixed width for the boxes */
    height: 250px;
    padding: 20px;
    background-color: #f5f5f5; 
    margin-bottom: 2px;  /* Separation between boxes */
    position: relative;
    text-align: right;
}

.column:last-child {
    margin-right: 0;  /* No margin for the last column */
}

.box:last-child {
    margin-bottom: 0;  /* No margin for the last box in a column */
}

.text-content {
    margin: 0;
    padding: 20px 0px;
}

.text-content p {
    display: none;  /* Hide the specific sentences by default */
}

.box:hover .text-content p {
    display: block;  /* Show sentences on hover */
}

.check {
    position: absolute;
    right: 40px;
    bottom: 15px;
    color: blue;
    display: none;
    font-weight: bold;
}

.box:hover .check {
    display: block;
}

#accept-cookies {
    background-color: white;
    color: darkorange;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cookie-popup {
    position: absolute;
    z-index: 100000;
    right: 0;
    top: 500px;
    width: 320px;  /* Increased width */
    background-color: darkorange;
    color: white;
    border-radius: 12px;
    padding: 20px;  /* Increased padding for more space */
    text-align: center;
    font-size: 16px;  /* Increased font size for better readability */
}

@media only screen and (max-width: 868px) {
    .column {
        flex: 0 0 50%; /* This will ensure that two columns each take up half the width */
        max-width: 50%; 
    }
}

@media only screen and (max-width: 600px) {
    .column {
        flex: 0 0 100%; /* This will ensure the column takes up full width */
        max-width: 100%;
    }
}

